@model ParkingZoneApp.Models.ParkingZone

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        background-color: rgba(211, 211, 211, 0.7);
        padding: 20px;
        border-radius: 10px;
        max-width: 600px; /* Adjust as needed */
        margin: auto;
        margin-top: 105px;
        text-align: center;
    }

        .form-container dl {
            text-align: left; /* Align text to the left within dl elements */
        }
</style>

<br />
<h3 style="color: white; text-align: center"> Are you sure you want to delete?</h3>

<div class="form-container">
    <h4>Delete Parking Zone</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            <label>
                @Html.DisplayNameFor(model => model.Name)
            </label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-12">
            <label>
                @Html.DisplayNameFor(model => model.Address)
            </label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-12">
            <label>
                @Html.DisplayNameFor(model => model.DateOfEstablishment)
            </label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DateOfEstablishment)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </form>
</div>