@model ParkingZoneApp.ViewModels.ParkingSlotVMs.DetailsVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ParkingSlot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            <label>
                @Html.DisplayNameFor(model => model.Number)
            </label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-12">
            <label>
                @Html.DisplayNameFor(model => model.IsAvailableForBooking)
            </label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IsAvailableForBooking)
        </dd>
        <dt class="col-sm-12">
            <label>
                @Html.DisplayNameFor(model => model.Category)
            </label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" asp-route-ParkingZoneId="@ViewData["ParkingZoneId"]" class="btn btn-outline-secondary">Back to List</a>
</div>