@using ParkingZoneApp.Enums
@model IEnumerable<ParkingZoneApp.ViewModels.ParkingSlotVMs.ListItemVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }

    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .table th,
    .table td {
        padding: 12px 15px;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3
    }

    .table tbody tr:last-of-type {
        border-bottom: #009879;
    }

    .button-34 {
        background: #006879;
        border-radius: 999px;
        box-shadow: #009879 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
    }
</style>

<h1>Slots for @ViewData["Name"]</h1>

<button class="button-34" onclick="location.href='@Url.Action("Index","ParkingZone")'">Back</button>
<button class="button-34" onclick="location.href='@Url.Action("Create", "ParkingSlot", new { parkingZoneId = ViewData["ParkingZoneId"] })'">Create New</button>

<div style="margin-top: 30px;">
    <div style="display: inline-block;">
        @Html.Label("categoryFilter", "Category:")
        <select id="categoryFilter" class="form-select" asp-items="Html.GetEnumSelectList<SlotCategoryEnum>()">
            <option value="">All</option>
        </select>
    </div>
    <div style="display: inline-block; margin-left: 50px;">
        @Html.Label("isSlotFreeFilter", "Is Slot Free:")
        <select id="isSlotFreeFilter" class="form-select">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div style="display: inline-block; margin-left: 50px;">
        <button id="filterButton" class="button-34">Filter</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>@Html.DisplayNameFor(model => model.IsAvailableForBooking)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.IsSlotFree)</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="slotTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailableForBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSlotFree)
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"> Edit </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Filter button click event
        $('#filterButton').click(function () {
            var category = $('#categoryFilter').val();
            var isSlotFree = $('#isSlotFreeFilter').val();

            // AJAX request
            $.ajax({
                url: '@Url.Action("Index", "ParkingSlot")',
                type: 'POST',
                data: {
                    ParkingZoneId: @ViewData["ParkingZoneId"],
                    category: category,
                    isSlotFree: isSlotFree
                },
                success: function (data) {
                    if (data.startsWith("No slots found")) {
                        // Handle case where no slots are found
                        // For example, display a message to the user
                        $('#slotTableBody').empty(); // Clear existing slots
                        $('#noSlotsMessage').text(data);
                    } else {
                        // Replace table body with filtered data
                        $('#noSlotsMessage').empty(); // Clear no slots message if present
                        $('#slotTableBody').html(data);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    // Handle error
                }
            });
        });
    });
</script>