@model IEnumerable<ParkingZoneApp.Models.ParkingZoneModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Control Panel</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h5><b>Name</b></h5>
            </th>
            <th>
                <h5><b>Address</b></h5>
            </th>
            <th>
                <h5><b>Creation time</b></h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingZoneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingZoneDateOfEstablishment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingZoneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingZoneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingZoneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
